<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="htmlInfo" type="se.swedenconnect.ca.service.base.configuration.service.HtmlServiceInfo"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="description" th:content="${htmlInfo.getHtmlDescription()}" />
    <meta name="author" th:content="${htmlInfo.getHtmlAuthor()}"/>
    <title th:text="${htmlInfo.getHtmlTitlePrefix()} + ' - Main page'"></title>

</head>
<body>
<h2 th:text="${htmlInfo.getHomePageTitle()}">Basic Headless CA Service</h2>
<h4 th:text="${htmlInfo.getHtmlDescription()}"></h4>
<hr>
<p>This CA service does not have any web UI</p>
<p>All administration is handled using the CMC API</p>
</body>
</html>
